
.form{
    margin-top : 5vh;
    margin-left: 10vw;
    display: flex;
    flex-wrap: wrap;
}
.left {
    width: 50%;
    height: 100vh;
    background-color: green;
    text-align: right;
    color: white;
}

.right {
    width: 50%;
    color: green;
    height: 100vh;
}
=======
.dashboard-body {
	margin-left: 10vw;
	margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}
