.form{
    margin-top : 5vh;

    display: flex;
    flex-wrap: wrap;
}
.left {
    width: 50%;
    height: 100vh;
    background-color: green;
    text-align: right;
    color: white;
}

.right {
    width: 50%;
    color: green;
    height: 100vh;
}