.login-body {
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-card {
	padding: 2vw 2vh;
	border: solid 1px dimgray;
	border-radius: 10px;
}

.login-card:focus,
.login-card:hover,
.login-card:focus-within {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.login-submit {
	text-decoration: none;
	background-color: #fff;
	border: solid 1px dimgray;
	border-radius: 10px;
	box-shadow: none;
	padding: 0.5em 0.75em;
}

.login-error {
	color: red;
	font-size: 0.75em;
}

.login-input {
	padding: 10px;
	font-size: 1.5em;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #000000;
	border-style: solid;
	border-radius: 10px;
}

.setup-body {
	display: flex;
	flex-direction: column;
}

.setup-child {
	margin: 1em;
}

.login-teach {
	margin: 1em;
}
